.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
body
{
    background-size: cover;
}

   .play_button
  {
  	width: 130px;
  	font-size: 25px;
  }
  .play_Choose
  {
    width: 950px;
    font-size: 25px;
    height: 80px;
    border-radius: 5px;
    color: blue;
    background-color: aqua;
  }
  .top
  {
      margin-right: 1850px;
      height: 30px;
      background-color: red;
      color: white;
  }